################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.gitignore
frontend/package.json
frontend/package-lock.json
frontend/package-lock.json
