div.background {
  background-color: #282c34;
}

div.navBarHolder {
  width: 100vw;
  height: 75px;
}

div.contextHolder {
  width: 100vw;
  height: calc(100vh - 75px);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overflow {
  overflow-y: scroll;
  height: calc(100vh - 200px);
}

* {
  color: white;
}

input {
  color: black;
}
